
body{
  background-color: #BCBCD2 ;
}
.unorderedList{
  font-family: inherit;
  list-style-type: none;
  text-align:center;
  background-color: #7272A1;
  margin: 8%;
  padding: 2%;
}
button{
margin:0px;
padding: 0px;
}
h1{
  color: #090934;
  font-family: serif;
  font-style: bold;
  text-align: center;
}
.rating_value{
  list-style-type: none;
float:flex;
}
.name{
  font-size: 120%;
  font-weight: bold;
  color: #FFF;
}
.rating{
  font-weight: bold;
  margin:2%;
  color: #000;
}
.image{
  margin:12px;
}
.rateIt{
  font-weight: bold;
  margin:3px;
}
